In [1]:
#------------kişisel özellik daraltması yapıldığı için yüksek doğruluk oranı içermemiştir.-------------
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/audi-a6-for-price-prediction-regression/audia6.csv

In [2]:
df=pd.read_csv("/kaggle/input/audi-a6-for-price-prediction-regression/audia6.csv")

In [3]:
df.head(3)

,Unnamed: 0,Model,Yıl,Kilometre,Renk,Fiyat,Quattro,Kasatipi,Pakettipi,Motor,Yakit
0,1,Audi A6 Sedan 2.0 TDI,2015,298000,Siyah,1610000.0,False,Sedan,Standard,TDI,dizel
1,3,Audi A6 Sedan 2.0 TDI,2008,315000,Füme,615000.0,False,Sedan,Standard,TDI,dizel
2,4,Audi A6 Sedan 2.0 TDI,2011,227000,Siyah,1130000.0,False,Sedan,Standard,TDI,dizel

In [4]:
df.drop(columns=['Unnamed: 0','Model','Pakettipi','Motor','Yakit'],inplace=True)

In [5]:
df.head(3)

    Yıl  Kilometre   Renk      Fiyat  Quattro Kasatipi
0  2015     298000  Siyah  1610000.0    False    Sedan
1  2008     315000   Füme   615000.0    False    Sedan
2  2011     227000  Siyah  1130000.0    False    Sedan

In [6]:
df['SiyahAudi'] = df['Renk'].apply(lambda x: 1 if x == 'Siyah' else 0)
df['SedanAudi'] = df['Kasatipi'].apply(lambda x: 1 if x == 'Sedan' else 0)

In [7]:
df.head(3)

    Yıl  Kilometre   Renk      Fiyat  Quattro Kasatipi  SiyahAudi  SedanAudi
0  2015     298000  Siyah  1610000.0    False    Sedan          1          1
1  2008     315000   Füme   615000.0    False    Sedan          0          1
2  2011     227000  Siyah  1130000.0    False    Sedan          1          1

In [8]:
df.drop(columns=['Kasatipi','Renk'],inplace=True)

In [9]:
df.head(3)

    Yıl  Kilometre      Fiyat  Quattro  SiyahAudi  SedanAudi
0  2015     298000  1610000.0    False          1          1
1  2008     315000   615000.0    False          0          1
2  2011     227000  1130000.0    False          1          1

In [10]:
# Diğer kategorik değişkenleri One-Hot Encoding ile dönüştürelimdd
df = pd.get_dummies(df, columns=['Quattro', 'SiyahAudi', 'SedanAudi'], drop_first=True)

In [11]:
df.head(3)

    Yıl  Kilometre      Fiyat  Quattro_True  SiyahAudi_1  SedanAudi_1
0  2015     298000  1610000.0         False         True         True
1  2008     315000   615000.0         False        False         True
2  2011     227000  1130000.0         False         True         True

In [12]:
df.columns = [col.replace('_1', '') for col in df.columns]
df.columns = [col.replace('_True', '') for col in df.columns]

In [13]:
df=df[['Yıl', 'Kilometre', 'Quattro', 'SiyahAudi','SedanAudi','Fiyat']]

In [14]:
y=df['Fiyat']
x=df.drop('Fiyat',axis=1)

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.50,random_state=13)

In [16]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test)

0.8281045908879929

In [17]:
model=lm.fit(x,y)
model.score(x,y)

0.8518107974585862

In [18]:
df.head(3)

    Yıl  Kilometre  Quattro  SiyahAudi  SedanAudi      Fiyat
0  2015     298000    False       True       True  1610000.0
1  2008     315000    False      False       True   615000.0
2  2011     227000    False       True       True  1130000.0

In [19]:
X_new = pd.DataFrame([[2012, 390000, 1, 1, 1]], columns=['Yıl', 'Kilometre', 'Quattro', 'SiyahAudi', 'SedanAudi'])
# Tahmin yap
prediction = model.predict(X_new)
print(prediction)

[1424137.5309588]